<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>

<div id="question-builder" :questions="<%= @survey.questions.to_json %>">
  <ul>
    <li v-for="question for questions">
      {{question.caption}}
    </li>
  </ul>
</div>

<%= javascript_pack_tag 'surveys_show' %>
